<p itemtype="http://schema.org/Person">
 <span itemprop="name">Jeremy Nelson</span> is the Metadata and Systems Librarian at 
 <a href="https://www.coloradocollege.edu">Colorado College</a> where for the past five
 years he has developed a number of open-source <a href="http://tuttdemo.coloradocollege.edu">discovery</a> 
 and <a href="http://catalog.coloradocollege.edu">library linked-data systems</a> cumulating in a 
 current project he is doing for the Library of Congress; building a BIBFRAME-based catalog called 
 bibcat, available at a public demo at <a href="http://bibcat.org/">http://bibcat.org/</a>. Jeremy's 
 primary research interest in developing a Catalog Pull Platform, which bibcat is a significant part of, 
 that applies modern NoSQL and Web framework technologies to library bibliographic and digital assets 
 management challenges. Jeremy has a BA from Knox College and a MS in Library and Information Science 
 from the University of Illinois Urbana-Champaign. 
</p>
