    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class=""></i> <strong>Now what?</strong> Library Linked Data for Audio 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#" 
                           data-toggle="dropdown" 
                           role="button" aria-haspopup="true" aria-expanded="false">
                          Slides <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#fedora-commons">Fedora Commons</a></li> 
                          <li><a href="#semantic-server">Semantic Server</a></li>
                          <li><a href="#lld-intro">Library Linked-Data</a></li>
                          <li><a href="#bf-audio">BIBFRAME Audio Resources</a></li>
                          <li><a href="#schema-org-audio">Schema.org Audio Creative Works</a></li>
                          <li><a href="#music-library-reserves">Music Library Reserves</a></li>
                          <li><a href="#bibcat">BIBCAT Audio</a></li>
                          {#<li role="separator" class="divider"></li>
                          <li><a href="#badge">Earn your Open Badge</a></li>#}
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
