<section id="bf-audio" class="container">
 <div class="row">
  <div class="col-md-8">
   <section class="jumbotron">
    <h1>BIBFRAME Audio</h1>
    <p class="lead">The Library of Congress MARC21 replacement is <a href="http://bibframe.org/">BIBFRAME</a>, 
     a linked-data vocabulary for describing bibliographic information for physical and digital objects. BIBFRAME
     contains a type of audio creative <a href="http://bibframe.org/Work">Work</a> with specific predicates and
     suggest values for objects for describing digital sound within a bibliographic context.
    </p>
  </div>
  <div class="col-md-3">
    <section class="panel panel-default">
     <div class="panel-heading">
      <h3 class="panel-title">Warning Rant &amp; Opinion!</h3>
     </div>
     <article class="panel-body">
      <p>
       Libraries, Museums, and Memory Institutions <strong>MUST</strong>
       become the trusted authoritative source of their RDF metadata graphs!
       Moving into a publisher role - like describing your audio objects
       to insure long-term durability and access - is becoming easier with
       cloud services. The vision of the Semantic Server is enabling
       the convergence of the traditional ILS/Discovery Layer/etc., 
       digital repository, and institutional knowledge management systems into 
       a dynamic and evolving catalog for institutions that persists and grows over 
       decades.
      </p>
    </article>
    </section>
  </div>
 </div>
 <div class="row">
   <section class="col-md-4">
    <h2>Audio Work</h2>
    <h3><a href="http://bibframe.org/vocab/Audio.html">http://bibframe.org/vocab/Audio</a></h3>
   </section>
   <section class="col-md-4">
    <h2>Electronic Instance</h2>
    <h3><a href="http://bibframe.org/vocab/Electronic.html">http://bibframe.org/vocab/Electronic</a></h3>
   </section>
   <section class="col-md-4"> 
    <h2>Authorities &amp; Annotations</h2>
    <h3><a href="http://bibframe.org/vocab/Person.html">http://bibframe.org/vocab/Person</a></h3>
    <h3><a href="http://bibframe.org/vocab/Organization.html">http://bibframe.org/vocab/Organization</a></h3>

   </section>

 </div>
</section>
