<section id="bf-audio" class="container">
 <div class="row">
  <div class="col-md-8">
   <section class="jumbotron">
    <h1>BIBFRAME Audio</h1>
    </p>
  </div>
  <div class="col-md-3">
    <section class="panel panel-default">
     <article class="panel-body">
    <p class="lead">The Library of Congress MARC21 replacement is BIBFRAME, a linked-data
     vocabulary for describing bibliographic information for physical and digital objects.

    </article>
    </section>
  </div>
 </div>
 <div class="row">
   <section class="col-md-4">
    <h2>Audio Work - <a href="http://bibframe.org/vocab/Audio.html">http://bibframe.org/vocab/Audio.html</a></h2>
   </section>
   <section class="col-md-4">
    <h2>Electronic Instance</h2>
   </section>
   <section class="col-md-4"> 
    <h2>Authorities &amp; Annotations</h2>

   </section>

 </div>
</section>
