<div class="container">
 <section class="jumbotron">
   <div class="row">
     <section class='col-md-8'>
    <h1>Fedora Commons</h1>
     </section>
     <section class="col-md-4">
       <ul class="lead">
         <li>Website: <a href="http://fedora-commons.org">http://fedora-commons.org</a></li>
       </uL>
     </section>
   </div>
 </section>
 <div class="row">
  <section class="col-md-7"><a id="fedora-commons" name="fedora-commons"></a>
  <article class="bg-danger" style="padding: .5em;">
   <img src="{{ url_for('static', filename='images/fedora4.png') }}" class="pull-right img-thumbnail" style="background-color: #FFFFFF">
   <p class="lead">
     Fedora Commons is a widely supported open-source digital repository
     platform that started as a project from MIT but now is managed and
     sponsored by the non-profit <a href="http://www.duraspace.org/">Duraspace Foundation</a> that also sponsors 
     the other popular open-source digital repository <a href="http://www.dspace.org/">DSpace</a>.
   </p>
  </article>
   <div class="row">
     <article class="col-md-6">
       <img src="{{ url_for('static', filename='images/Islandora.png') }}">
       <p class="lead well well-sm">
         <a href="http://islandora.ca">Islandora</a> is an open-source 
         <a href="#">Drupal</a> front-end to 
         Fedora.
       </p>
       <p class="lead well well-sm">
         An example of a digitized audio files from Colorado College's
         Islandora Repository is available at 
         <a href="http://digitalcc.coloradocollege.edu/islandora/object/coccc:2139">Women of Northwestern Colorado Oral History Collection </a>
       </p>

     </article>
     <article class="col-md-6">
       <img src="{{ url_for('static', filename='images/hydra.png') }}">
       <p class="lead well well-sm">
         <a href="http://projecthydra.org">Hydra</a> is an open-source 
         <a href="#">Ruby-on-Rails</a> front-end
         to Fedora. 
       </p>
     </article>
     
   </div>
  </section>
  <section class="col-md-5">
   <article class="panel panel-primary">
     <div class="panel-heading">
      <h3 class="panel-title">Other Options</h2>
     </div>
     <div class="panel-body">
     <p>What are the other choices for preservation and
       access for your digital audio objects?</p>

      <h4>Commercial Products</h4>
      <ul class="lead">
       <li><a href="http://www.contentdm.com/">ContentDM</a> from OCLC</li>
       <li><a href="http://digitalcommons.bepress.com/">Digital Commons</a> from BePress</li>
       <li><a href="http://www.exlibrisgroup.com/category/RosettaOverview">Rosetta</a> from Ex Libris</li>
      </ul> 
      <h4>Open-Source Projects</h4>
      <ul class="lead">
       <li><a href="http://www.dspace.org/">DSpace</a></li>
       <li><a href="http://www.jfrog.com/open-source/#os-arti">Artifactory</a></li>
      </ul>
      <p class="lead"><strong>BAD!</strong> You can always fall-back to the time-honored but risky and unsafe
       method storing your audio files on a shared hard-drive.</p>
       <p class="lead"><strong>BETTER!</strong> use a cloud drive such as Google Drive, Amazon's Glacier, Dropbox,
       or Microsoft Azure to store your digital objects.</p>
     </p>
     </div>
   </article>
  </section>
 </div>
</div>
