<section id="lld-intro" class="container">
  <div class="row">
    <div class="col-md-12">
     <section class="jumbotron">
     <h1>Introduction to Library Linked Data</h1>
      <p class="lead">
       <a href="http://www.w3.org/2005/Incubator/lld/XGR-lld-20111025/">Library Linked Data</a> is 
         part of the larger <a href="http://www.w3.org/standards/semanticweb/">Semantic Web</a>, 
         an international effort to bring machine-readable data to the web.
     </p>

     </section>
    </div>
 </div>
  <div class="row">
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Subjects</h3>
       </section>
       <section class="panel-body lead">
        A subject resource can be:
        <ul>
         <li>IRI</li>
         <li>Blank Node</li>
        </ul>
     </div>
   </article>
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Predicates</h3>
       </section>
       <section class="panel-body lead">
       <p>
       A relationship between the <strong>subject</strong> and 
       <strong>object</strong> is called a property.
       </p>
       <p>
         A predicate must be an IRI.
       </p>      
       </section>
     </div>

   </article>
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Objects</h3>
       </section>
     </div>


   </article>

  </div>
</section>
