<section id="lld-intro" class="container">
  <div class="row">
    <div class="col-md-12">
     <section class="jumbotron">
     <h1>Introduction to Library Linked Data</h1>
      <p class="lead">
       <a href="http://www.w3.org/2005/Incubator/lld/XGR-lld-20111025/">Library Linked Data</a> is 
         part of the larger <a href="http://www.w3.org/standards/semanticweb/">Semantic Web</a>, 
         an international effort to bring machine-readable data to the web.
     </p>

     </section>
    </div>
 </div>
 <img src="{{ url_for('static', filename='images/graph_usairways_bundled.jpg') }}">
 <a href="http://blog.visualmotive.com/2009/graph-visualization-edge-bundling/">src</a>
 <div class="row">
   <section class="col-md-6">
<a href="#">https://digitalcc.coloradocollege.edu/islandora/object/coccc%3A2478</a>
<pre>
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix schema: <http://schema.org/> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<https://digitalcc.coloradocollege.edu/islandora/object/coccc%3A2478> a schema:AudioObject ;
    schema:creator [ a schema:Person ;
            schema:givenName "Freddie" ;
            schema:name "Freddie White Blevins" ] ;
    schema:dateCreated "1984-09-27" ;
    schema:duration "01:40:00" ;
    schema:familyName "Blevins" .
</pre>
   </section>
 </div>
  <div class="row">
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Subjects</h3>
       </section>
       <section class="panel-body lead">
        A subject resource can be:
        <ul>
         <li>IRI</li>
         <li>Blank Node</li>
        </ul>
     </div>
   </article>
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Predicates</h3>
       </section>
       <section class="panel-body lead">
       <p>
       A relationship between the <strong>subject</strong> and 
       <strong>object</strong> is called a property.
       </p>
       <p>
         A predicate must be an IRI.
       </p>      
       </section>
     </div>

   </article>
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Objects</h3>
       </section>
       <section class="panel-body lead">
         An object resource can be
        <ul>
         <li>IRI</li>
         <li>Blank Node</li>
         <li>Literal</li>
        </ul>
       </section>
     </div>


   </article>

  </div>
</section>
