<section id="lld-intro" class="container">
  <div class="row">
    <div class="col-md-12">
     <section class="jumbotron">
     <h1>Introduction to Library Linked Data</h1>
      <p class="lead">
       <a href="http://www.w3.org/2005/Incubator/lld/XGR-lld-20111025/">Library Linked Data</a> is 
         part of the larger <a href="http://www.w3.org/standards/semanticweb/">Semantic Web</a>, 
         an international effort to bring machine-readable data to the web. Library Linked Data is 
         based on a RDF (Resource Description Framework) graphs made up a series of statements,
         called triples, that take the form <strong>subject</strong> - <strong>predicate</strong>
         - <strong>object</strong>
     </p>

     </section>
    </div>
 </div>
 <div class="row">
  <section class="col-md-9">
   <img src="{{ url_for('static', filename='images/graph_usairways_bundled.jpg') }}">
  </section>
  <section class="col-md-3">
     <h3 class="pull-right">What is a graph?</h3>
     <p class="lead pull-right">
      "...graph is a collection of nodes and the edges between them. 
       Graphs are useful abstractions for describing transit networks, computer networks, 
       and relationships among people (such as in a social network)" Chris Mueller
      (<a href="http://blog.visualmotive.com/2009/graph-visualization-edge-bundling/">source</a>)
     </p>
  </section>
 </div>
 <br>
 <div class="row">
   <section class="col-md-4">
     <article class="panel panel-success">
       <div class="panel-heading">
        <h3 class="panel-title">Freddie Blevins Oral History</h3>
       </div>
       <div class="panel-body">
        To describe the Freddie Blevins oral history from Colorado College's collection of interviews with women
        from the Western Slope, a simple RDF metadata graph of this audio object is presented at the right.
<a href="https://digitalcc.coloradocollege.edu/islandora/object/coccc:2478">https://digitalcc.coloradocollege.edu/islandora/object/coccc:2478</a>
        at this <strong>IRI</strong> (International Resource Identifier). IRIs identifies a resource with URLs 
being the most common form of an IRI.
       </div>
     </article>
   </section>
   <section class="col-md-8">
 <h3>RDF Graph in Turtle Format</h3>
<pre>
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix schema: &lt;http://schema.org/&gt; .
@prefix xml: &lt;http://www.w3.org/XML/1998/namespace&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .

&lt;https://digitalcc.coloradocollege.edu/islandora/object/coccc:2478&gt; a schema:AudioObject ;
    schema:creator [ a schema:Person ;
            schema:givenName "Freddie" ;
            schema:name "Freddie White Blevins" ] ;
    schema:dateCreated "1984-09-27" ;
    schema:duration "01:40:00" ;
    schema:familyName "Blevins" .
</pre>
   </section>
 </div>
  <div class="row">
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Subjects</h3>
       </section>
       <section class="panel-body lead">
        A subject resource can be:
        <ul>
         <li>IRI</li>
         <li>Blank Node</li>
        </ul>
     </div>
   </article>
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Predicates</h3>
       </section>
       <section class="panel-body lead">
       <p>
       A relationship between the <strong>subject</strong> and 
       <strong>object</strong> is called a property.
       </p>
       <p>
         A predicate must be an IRI.
       </p>      
       </section>
     </div>

   </article>
   <article class="col-md-4">
     <div class="panel panel-default">
       <section class="panel-heading">
        <h3>Objects</h3>
       </section>
       <section class="panel-body lead">
         An object resource can be
        <ul>
         <li>IRI</li>
         <li>Blank Node</li>
         <li>Literal</li>
        </ul>
       </section>
     </div>


   </article>

  </div>
</section>
