<section class="container" id='music-library-reserves'>
 <div class="row">
  <section class="col-md-8">
   <div class="jumbotron">
    <h1>Colorado College Music Library Reserves</h1>
    <p class="lead">
     To organize our application we created classes and their 
     properties using Schema.org. This makes it easy for our
     staff to control and organize playlists and upload them 
     to the College's learning management system "Canvas".
    </p>
   </div>
  <div class="panel panel-default">
   <section class="panel-body">
     <ul class="lead">
      <li>We created and added unit tests</li>
      <li>In order to reduce any copyright issues, the website requires an 
      ID number and password for only the enrolled students in the specific 
      music course. No one else is allowed access to the Mp3 recordings and 
      even once the student is no longer enrolled in the class, they won't 
      have access to the playlists anymore.</li>
     <li>This update will greatly benefit music students at Colorado College by
       <ul>
         <li>More direct and easy access to a specific playlists and songs</li> 
         <li>Allowing multiple people to use the a playlist at the same time.</li>
         <li>Streaming mp3 audio files for their course anywhere on campus</li>
         <li>Prevents copyright infringement</li> 
       </ul>
     </li>
  </div>

  </section>
  <section class="col-md-4">
   <div class="bg-primary lead">
    This application will greatly benefit music students at 
    Colorado College by
   <ul>
    <li>More direct and easy access to a specific playlists and songs</li> 
    <li>Allowing multiple people to use the a playlist at the same time.</li>
    <li>Streaming mp3 audio files for their course anywhere on campus</li>
    <li>Prevents copyright infringement</li>
   </ul>
   </div>
   <div class="panel panel-default">
    <section class="panel-body">
    <p class="lead">
    We used the following classes:
    </p>
   <ul class="lead">
    <li>AudioObject</li>
    <li>MusicPlaylist</li>
    <li>MusicRecording</li>
    <li>Music Group</li>
    <li>Person</li>
   </ul>
   <p class="lead">
    Properties in each class include but are not limited to:
   </p>
  <ul class="lead">
    <li>Creator</li>
    <li>Type</li>
  </ul>
  </section>

   </div>
  </section>
 </div>
<div class="row">
 <section class="col-md-8"> 
 </section>
 <section class="col-md-4"> 
 </section>
 <section class="col-md-4"> 
 </section>
</div>
</section>
