<section id="schema-org-audio" class="container">
 <div class="row">
    <section class="col-md-3">
      <article class="panel panel-default">
       <div class="panel-body">
        <h2>What is schema.org?</h2>
        <blockquote>
        Schema.org is a collaborative, community activity with a mission to 
        create, maintain, and promote schemas for structured data on the 
        Internet, on web pages, in email messages, and beyond. 
         <footer>From <a href="http://schema.org/">http://schema.org/</a></footer>
        </blockquote>
       </div>
      </article>
    </section>
    <div class="col-md-9">
     <section class="jumbotron">
      <h1>Schema.org Vocabulary</h1>
        <p class="lead">
         <a href="http://schema.org">Schema.org</a> is a linked-data vocabulary comes out of
         a collaboration between technology companies (Google, Microsoft, Yandex) to describe
         "things" on the web. 
        </p>
      </section>
    </div>
 </div>
 <div class="row">
   <section class="col-md-8 bg-info col-md-offset-2">
    <h1>Schema.org Audio Classes</h1>
    <ul class="lead">
     <li><a href="https://schema.org/AudioObject">https://schema.org/AudioObject</a></li>
     <li><a href="https://schema.org/MusicAlbum">https://schema.org/MusicAlbum</a></li>
     <li><a href="https://schema.org/MusicRecording">https://schema.org/MusicRecording</a></li>
     <li><a href="https://schema.org/MusicRelease">https://schema.org/MusicRelease</a></li>
     <li><a href="https://schema.org/MusicPlaylist">https://schema.org/MusicPlaylist</a></li>
     <li><a href="https://schema.org/MusicGroup">https://schema.org/MusicGroup</a></li>
     <li><a href="https://schema.org/Person">https://schema.org/Person</a></li>
     <li><a href="https://schema.org/Organization">https://schema.org/Organization</a></li>
    </ul>
    
   </section>
 </div>
</section>
