<div class="container" id="semantic-server">
   <div class="row">
       <div class="col-lg-8 jumbotron">
	   <h1>Semantic Server</h1>
           <p class="lead">
     The Semantic Server is an open-source REST API wrapper that for managing RDF entities 
     stored as subject graphs. The current iteration uses Fedora 4 as a subject linked-data 
     store and binary preservation store while providing expanded and enriched search of 
     these RDF entities through Elastic Search supported by an HTTP SPARQL endpoint using 
     Blazegraph. 
           </p>
       </div>
   </div>
   <div class="row">
    <article class="col-md-6">
    </article>
   </div>
</div>
